body {
    font-family: Arial, sans-serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSLC5W9oaQb9YC0N8dp-LgTkBk7rlzA81V_w&usqp=CAU");
    opacity: 0.9;
}

header {
    background-color: lightgray;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
}

.header img{
    width: 150px;
    height: 115px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    position: absolute;
    top: -70px;
    left: 5%;
}

#venstre-billede{
    width: 150px;
    height: 115px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    position: absolute;
    top: -70px;
    left: 81%;
    transform: scale(-1, 1);
}

#h2-portfolio{
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.klik{
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-top: 20px;
    line-height: 2;
}

.klik:hover{
    color: #5BC0F8;
}

#right-intro{
    margin-right: 50px;
}

#left-intro{
    margin-left: 100px;
}

main {
    margin: 20px;
}

section {
    background-color: lightgray;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

.fa{
    color: black;
    text-decoration: none;
    padding: 20px;
    font-size: 40px;
}

.fa:hover{
    color: #5BC0F8;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
}
