body {
    font-family: Arial, sans-serif;
    background-image: url("https://media.istockphoto.com/id/1224500457/photo/programming-code-abstract-technology-background-of-software-developer-and-computer-script.jpg?b=1&s=170667a&w=0&k=20&c=na3ACFWNhvnnhl4r5NuC7J4MnLfzz_kMVSsL7ropwJM=");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    animation: move-background 40s linear infinite;
}

@keyframes move-background {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

header {
    background-color: lightgray;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
}

.header img{
    width: 120px;
    height: 100px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    position: absolute;
    top: -70px;
    left: 5%;
    opacity: 0.5;
    border-radius: 30px;
}

#venstre-billede{
    width: 120px;
    height: 100px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    position: absolute;
    top: -70px;
    left: 84%;
    transform: scale(-1, 1);
}

#h2-portfolio{
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.klik{
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-top: 20px;
    line-height: 2;
}

.klik:hover{
    color: #5BC0F8;
}

#right-intro{
    margin-right: 50px;
}

#left-intro{
    margin-left: 100px;
}

main {
    margin: 20px;
}

section {
    background-color: lightgray;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

.fa{
    color: black;
    text-decoration: none;
    padding: 20px;
    font-size: 40px;
}

.fa:hover{
    color: #5BC0F8;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
}
